<div class="dd" id="nestable">
    <ol class="menuItemList dd-list">
        {% for item in menu %}
            {% if not item.parent %}
                <li  class='dd-item'  data-id='{{ item.id }}'>
                    <div class="dd-handle  dd3-handle"></div>
                    <div class="dd3-content">
                        {{ item.label }}
                        <a href="#" class="text-danger action-delete" onclick="triggerDeleteMenuClick({{ item.id }})">Delete</a>
                        <a href="#" class="text-primary action-edit" onclick="triggerEditMenuClick({{ item.id }})">Edit</a>
                    </div>
                    {% if item.childrens|length > 0 %}
                        <ol class='dd-list'>
                            {% for _item in item.childrens %}
                                <li  class='dd-item'  data-id='{{ _item.id }}'>
                                    <div class="dd-handle dd3-handle"></div>
                                    <div class="dd3-content">
                                        {{ _item.label }}
                                            <a href="#" class="text-danger action-delete" onclick="triggerDeleteMenuClick({{ _item.id }})">Delete</a>
                                            <a href="#" class="text-primary action-edit" onclick="triggerEditMenuClick({{ _item.id }})">Edit</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</div>