
<div class="col-md-4 image-uploader-item"  id="image{{ image.id }}" data-id="{{ image.id }}">
    <a
       href="#"
       class="easyadmin-thumbnail"
       data-featherlight="#easyadmin-lightbox-{{ image.id }}"
       data-featherlight-close-on-click="anywhere"
    >
        <div class="image-uploader-item-image">
            <img  src="{{ asset("uploads/image/"~image.image)|imagine_filter('thumbnail')  }}?v={{ random() }}">
        </div>
    </a>
    <div class="uploader-image-actions">
        <a href="#" class="edit-image" onclick="uploader.editImage({{ image.id }})">
            <i class="fa fa-pencil"></i> Edit
        </a>
        <a href="#" class="delete-image"  onclick="uploader.deleteImage({{ image.id }})">
            <i class="fa fa-trash"></i> Delete
        </a>
    </div>
    <div id="easyadmin-lightbox-{{ image.id  }}" class="easyadmin-lightbox">
        <img src="{{ asset("uploads/image/"~image.image) }}">
    </div>

</div>
