<div id="slider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for image in entity.images %}
        <li data-target="#slider" data-slide-to="{{ loop.index -1 }}" class="{{ loop.first ? 'active' : '' }}"></li>
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for image in entity.images %}
            <div class="item {{ loop.first ? 'active' : '' }}">
                <img src="{{ asset("uploads/image/"~image.image)|imagine_filter('normal')  }}" alt="{{ image.alt }}" title="{{ image.title }}">
                {% if image.name or image.text %}
                <div class="carousel-caption">
                    {% if image.name %}
                        <h3>{{ image.name }}</h3>
                    {% endif %}
                    {% if image.text %}
                        <p>{{ image.text }}</p>
                    {% endif %}
                </div>
                {%  endif %}
            </div>
        {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#slider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>