<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{{ page_title is defined and page_title != '' ? page_title : app_twig.getParameter('Nom du site') }}</title>
        <meta content="{{ page_description is defined and page_description != '' ? page_description : app_twig.getParameter('Description du site') }}" name="description">
        <link href="{{ asset(app_twig.getTheme()~'assets/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset(app_twig.getTheme()~'assets/css/ripples.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset(app_twig.getTheme()~'assets/css/bootstrap-material-design.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/easyadmin/stylesheet/font-awesome.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset(app_twig.getTheme()~'assets/css/main.css') }}" rel="stylesheet" media="screen">
        {% block style %}{% endblock style %}
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/easyadmin/stylesheet/html5shiv.min.css') }}"></script>
        <script src="{{ asset('bundles/easyadmin/stylesheet/respond.min.css') }}"></script>
        <![endif]-->
        {{ app_twig.getAnalitycsTracking()|raw }}
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    {{ app_twig.getMenu()|raw }}
    <div class="wrapper container-fluid">
            {% block body %}{% endblock body %}
        </div>
    </body>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset(app_twig.getTheme()~'assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset(app_twig.getTheme()~'assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset(app_twig.getTheme()~'assets/js/ripples.js') }}"></script>
    <script src="{{ asset(app_twig.getTheme()~'assets/js/material.min.js') }}"></script>
    <script src="{{ asset(app_twig.getTheme()~'assets/js/masonry.min.js') }}"></script>

    {% block javascripts %}{% endblock javascripts %}
    <script>
        $(function () {
            $.material.init();
        });
    </script>
</html>
