{% extends '::base.html.twig' %}

{% set page_title = '' %}
{% set page_description = '' %}

{% block style %}
{% endblock style %}


    {% block body %}
        <h1>{{ entity.title }}</h1>

        <img src="{{ app_twig.getImage(entity)|imagine_filter('cover')  }}">

        <p>{{ entity.body|raw }}</p>

        {% if attribute(entity, 'getCommentable') is defined  %}
            <h2>Comments</h2>
            <hr>
            <div class="col-md-4 panel panel-default">
                <h3>Add Commment</h3>
                {{ app_twig.getCommentForm(entity)|raw }}
            </div>
            <div class="col-md-8">
                {{ app_twig.getCommentList(entity)|raw }}
            </div>
        {% endif %}
    {% endblock body %}

{% block javascripts %}
{% endblock javascripts %}
