{% extends app_twig.getThemeBase() %}

{% set page_title = "Symfony 3 starter kit"~entity.title %}
{% set page_description = entity.text %}

{% block body_class %}image{% endblock %}

{% block style %}
{% endblock style %}
    {% block body %}
        <section>
            <div class="col-md-12">
                <div class="row article-title">
                    <h1>
                        {{ entity.name|default("no name") }}
                    </h1>
                    {%  if entity.name %}
                    <h1>
                        {{ entity.name }}
                    </h1>
                    {% endif %}
                    {% if entity.image %}
                        <img src="{{ app_twig.getImage(entity)  }}">
                    {% endif %}
                </div>

                <div class="article-body">{{ entity.text|raw }}lorem ipsum</div>

                {% if attribute(entity, 'getCommentable') is defined  %}
                    <h3>Comments</h3>
                    <hr>
                    <div class="col-md-4 panel panel-default">
                        <h3>Add Commment</h3>
                        {{ app_twig.getCommentForm(entity)|raw }}
                    </div>
                    <div class="col-md-8">
                        {{ app_twig.getCommentList(entity)|raw }}
                    </div>
                {% endif %}
            </div>
        </section>
    {% endblock body %}
{% block javascripts %}
{% endblock javascripts %}
