<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {# Brand and toggle get grouped for better mobile display #}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Symfony 3 Made Simple</a>
        </div>
        <div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for item in items %}
                    {% if item.parent == null %}
                            <li class="{{ current == item.route ? 'active' : '' }} {{  item.childrens|length > 0 ? 'dropdown' : '' }} ">
                                <a href="{{ app_twig.getMenuUrl(item.route) }}" title="{{ item.title }}" {{ item.attributes|join(' ') }} class="{{ item.cssClass }}">{{ item.label }}</a>
                                {% if item.childrens|length > 0 %}
                                    <ul class="dropdown-menu">
                                    {% for _item in item.childrens %}
                                        <li class="{{ current == _item.route ? 'active' : '' }}" >
                                            <a href="{{ app_twig.getMenuUrl(_item.route) }}" title="{{ _item.title }}" {{ _item.attributes|join(' ') }} class="{{ _item.cssClass }}">{{ _item.label }}</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
